@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

html, body {
  background-image: url("images/Langston\ Doobs\ Doobie\ Photo_png.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: scroll;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}
.name {
  padding-top: 30px;
  font-family: 'Bangers';
  /* font-family: 'Sigmar One'; */
  letter-spacing: 4px;
  font-size: 120px;
  padding-bottom: 50px;
}
/* BUTTONS */
a {
  color: black;
}
a:hover {
  color: white;
  text-decoration: none;
}
.btn {
	height: 45px;
	text-align: center;
	width: 180px;
  cursor: pointer;
  font-size: 25px;
  letter-spacing: 1px;
}
.btn-two {
	transition: all 0.5s;
  position: relative;	
}
.btn-two span {
	z-index: 2;	
	display: block;
	position: absolute;
  height: 100%;
  text-align: center;
  padding-left: 50px;
  padding-top: 1px;
  color: black;
  font-family: 'Bebas Neue';
}
.emailbutton  {
  z-index: 2;	
	display: block;
	position: absolute;
  height: 100%;
  margin-bottom: 40px;
  color: black;
  margin-left: -25px;
  margin-top: -1px;
  font-family: 'Bebas Neue';
}
.emailbutton:hover {
  text-decoration: none;
  color:white;
}
.btn-two::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border-radius: 4px;
  background-color: rgba(255,255,255,0.1);
;}
.btn-two::after {
	content: '';
  position: absolute;
  border-radius: 4px;
	top: 0;
	left: 0;
	width: 100%;
  height: 100%;
  color: white;
	transition: all 0.5s;
  background-color: rgba(255,255,255,0.1);
}
.btn-two:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(0, 0, 0, 0.438);
}
.btn-two:hover::after {
  transform: rotate(45deg);
  color: white;
  background-color: rgba(0, 0, 0, 0.438);
}
.btn-two span:hover {
  color: white;
}
/* ABOUT PAGE */
.about {
  background-color: white;
  padding: 40px;
}
/* CONTACT */
.contact {
  margin-top: 930px;
  background-color: black; 
  height: 110px; 
  text-align: center; 
  color: white;
  padding: 20px;
}
.fa {
  font-size: 40px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  padding-bottom: 20px;
}
.fa:hover {
  text-decoration: none;
  color: white;
  font-size: 30px;
}
p {
  color: white;
  font-size: 10px;
}
.footerlink {
  color: white;
  font-size: 10px;
}
.footerlink:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 360px) and (max-width: 411px) {
  body {
    background-image: url("images/Langston\ Doobs\ Doobie\ Photo_long.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    overflow: scroll;
  }
  .name {
    font-family: 'Bangers';
    letter-spacing: 2px;
    font-size: 80px;
    text-align: center;
    padding-top: 30px;
  }
  .name2 {
    padding-top: 50px;
    font-family: 'Sigmar One';
    letter-spacing: 2px;
    font-size: 60px;
    text-align: center;
  } 
  /* BUTTONS */
  .btn {
    height: 50px;
    width: 160px;
    cursor: pointer;
  }
  .btn-two {
    margin-bottom: 40px;
  }
  .btn-two span {
    margin-left: -12px;
  }
  .btn-two::before {
    content: '';
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
  }
  .btn-two::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
  }
  .btn-two:hover::before {
    transform: rotate(-45deg);
    background-color: rgba(255,255,255,0);
  }
  .btn-two:hover::after {
    transform: rotate(45deg);
    background-color: rgba(255,255,255,0);
  }
  .emailbutton  {
    height: 50px;
    width: 160px;
    cursor: pointer;
    margin-left: -50px;
  }
  /* CONTACT LINKS */
  .contact {
    background-color: black; 
    height: 80px; 
    text-align: center; 
    color: white;
    padding: 20px;
    margin-top: 500px;
  }
  .fa {
    font-size: 40px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
  }
}

@media only screen and (min-width: 412px) and (max-width: 480px) {

  body {
    background-image: url("images/Langston\ Doobs\ Doobie\ Photo_long.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    overflow: scroll;
  }
  .name {
    font-family: 'Bangers';
    letter-spacing: 2px;
    font-size: 80px;
    text-align: center;
    padding-bottom: 80px;
    padding-top: 30px;
  }
  .name2 {
    padding-top: 50px;
    font-family: 'Sigmar One';
    letter-spacing: 2px;
    font-size: 60px;
    text-align: center;
  } 
  /* BUTTONS */
  .btn {
    height: 50px;
    width: 160px;
    cursor: pointer;
  }
  .btn-two {
    margin-bottom: 40px;
  }
  .btn-two span {
    margin-left: -12px;
  }
  .btn-two::before {
    content: '';
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
  }
  .btn-two::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
  }
  .btn-two:hover::before {
    transform: rotate(-45deg);
    background-color: rgba(255,255,255,0);
  }
  .btn-two:hover::after {
    transform: rotate(45deg);
    background-color: rgba(255,255,255,0);
  }
  .emailbutton  {
    height: 50px;
    width: 160px;
    cursor: pointer;
    margin-left: -50px;
  }
  /* CONTACT LINKS */
  .contact {
    background-color: black; 
    height: 80px; 
    text-align: center; 
    color: white;
    padding: 20px;
    margin-top: 600px;
  }
  .fa {
    font-size: 40px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
  }

}
